nifi-staging/Flowfiles/LoadCSV.json
{"flowContents":{"identifier":"83d24c63-3238-3813-8fa5-e2824e9d00b5","instanceIdentifier":"a42a264d-0194-1000-23e1-ee4daca96bdb","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"fdd06687-b481-36d1-adab-f00e8702a19c","instanceIdentifier":"a45099dd-0194-1000-f68d-ae87e46de0bb","name":"WriteDimensionTable","comments":"","position":{"x":1056.0,"y":-344.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"fe7842cf-ad81-3a7e-9bdb-7b5bba878e98","instanceIdentifier":"a4c6a51e-0194-1000-e1da-3ee6b7d8ecd9","name":"Notify","comments":"","position":{"x":888.0,"y":-456.0},"type":"org.apache.nifi.processors.standard.Notify","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"signal-counter-delta":"1","distributed-cache-service":"22db9c26-7637-3cea-b861-c9a83904a6b5","signal-buffer-count":"1","release-signal-id":"REGION-DIMENSION-TABLE-CREATED","signal-counter-name":"default","attribute-cache-regex":null},"propertyDescriptors":{"signal-counter-delta":{"name":"signal-counter-delta","displayName":"Signal Counter Delta","identifiesControllerService":false,"sensitive":false,"dynamic":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"signal-buffer-count":{"name":"signal-buffer-count","displayName":"Signal Buffer Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-cache-regex":{"name":"attribute-cache-regex","displayName":"Attribute Cache Regex","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdd06687-b481-36d1-adab-f00e8702a19c"},{"identifier":"c2e6b279-2407-3eeb-bd0d-da6ec4655dab","instanceIdentifier":"a47646e4-0194-1000-0d40-b7e3ffebc82d","name":"JoltTransformJSON","comments":"","position":{"x":-232.0,"y":-192.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.1.0"},"properties":{"Jolt Transform":"jolt-transform-shift","Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"{\"*\": {\n        \"name\": \"[&1].country\",\n        \"region\": \"[&1].region\",\n        \"sub-region\": \"[&1].subregion\"\n      }}"},"propertyDescriptors":{"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdd06687-b481-36d1-adab-f00e8702a19c"},{"identifier":"984f7e97-1958-31a2-b1fa-e4f6de81bb13","instanceIdentifier":"a458f603-0194-1000-09a8-f4109d3dbcb2","name":"PutDatabaseRecord","comments":"","position":{"x":352.0,"y":32.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":"region,subregion,country","put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"615d6c74-f26e-3436-8836-e401526642bd","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"regiondimension","put-db-record-record-reader":"6490d45a-0851-3f1c-b277-7b2be1123d6e"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdd06687-b481-36d1-adab-f00e8702a19c"},{"identifier":"1a0cfa33-7750-33cf-9d63-60725595c6d2","instanceIdentifier":"a466e5f3-0194-1000-63be-64a552ae0541","name":"GenerateFlowFile","comments":"","position":{"x":-552.0,"y":-440.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdd06687-b481-36d1-adab-f00e8702a19c"},{"identifier":"4c7977ff-65e0-32a3-a9a2-ddd9384bb859","instanceIdentifier":"a4d1c569-0194-1000-b6ba-ae3b60c66de7","name":"Wait","comments":"","position":{"x":416.0,"y":-224.0},"type":"org.apache.nifi.processors.standard.Wait","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"wait-buffer-count":"1","wait-mode":"wait","attribute-copy-mode":"keeporiginal","distributed-cache-service":"22db9c26-7637-3cea-b861-c9a83904a6b5","releasable-flowfile-count":"1","release-signal-id":"REGION-DIMENSION-TABLE-CREATED","signal-counter-name":null,"expiration-duration":"10 min","target-signal-count":"1","wait-penalty-duration":null},"propertyDescriptors":{"wait-buffer-count":{"name":"wait-buffer-count","displayName":"Wait Buffer Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wait-mode":{"name":"wait-mode","displayName":"Wait Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-copy-mode":{"name":"attribute-copy-mode","displayName":"Attribute Copy Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"releasable-flowfile-count":{"name":"releasable-flowfile-count","displayName":"Releasable FlowFile Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"expiration-duration":{"name":"expiration-duration","displayName":"Expiration Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-signal-count":{"name":"target-signal-count","displayName":"Target Signal Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"wait-penalty-duration":{"name":"wait-penalty-duration","displayName":"Wait Penalty Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["wait","expired","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdd06687-b481-36d1-adab-f00e8702a19c"},{"identifier":"3a3b8b54-8748-3304-ac96-148994427eb7","instanceIdentifier":"a464534d-0194-1000-6f90-5b7d042984d4","name":"PutSQL","comments":"","position":{"x":208.0,"y":-488.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":"CREATE TABLE IF NOT EXISTS regiondimension (\n    id SERIAL PRIMARY KEY,\n    region TEXT,\n    subregion TEXT,\n    country TEXT,\n    UNIQUE (region, subregion, country)\n);\n","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"615d6c74-f26e-3436-8836-e401526642bd","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdd06687-b481-36d1-adab-f00e8702a19c"}],"inputPorts":[{"identifier":"1e07e9ff-32d8-3229-8f30-5467033fb8fd","instanceIdentifier":"a4510d65-0194-1000-a598-8baf14d47470","name":"CountryInput","position":{"x":-536.0,"y":24.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"fdd06687-b481-36d1-adab-f00e8702a19c"}],"outputPorts":[{"identifier":"1cda7ec7-2f17-3ec5-ac53-ec4bfe6d2693","instanceIdentifier":"a47fda67-0194-1000-24a1-16544da2145d","name":"Failed","position":{"x":1048.0,"y":-8.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"FAILURE","componentType":"OUTPUT_PORT","groupIdentifier":"fdd06687-b481-36d1-adab-f00e8702a19c"}],"connections":[{"identifier":"64f81105-3cb8-345a-b647-63260f7e7465","instanceIdentifier":"a476abbf-0194-1000-63b7-1ff974a371f9","name":"","source":{"id":"c2e6b279-2407-3eeb-bd0d-da6ec4655dab","type":"PROCESSOR","groupId":"fdd06687-b481-36d1-adab-f00e8702a19c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"a47646e4-0194-1000-0d40-b7e3ffebc82d"},"destination":{"id":"4c7977ff-65e0-32a3-a9a2-ddd9384bb859","type":"PROCESSOR","groupId":"fdd06687-b481-36d1-adab-f00e8702a19c","name":"Wait","comments":"","instanceIdentifier":"a4d1c569-0194-1000-b6ba-ae3b60c66de7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fdd06687-b481-36d1-adab-f00e8702a19c"},{"identifier":"fb9ef328-0c95-339d-85cf-3f7c57914f53","instanceIdentifier":"a4703dbe-0194-1000-e6a5-f47bfd9235c0","name":"","source":{"id":"3a3b8b54-8748-3304-ac96-148994427eb7","type":"PROCESSOR","groupId":"fdd06687-b481-36d1-adab-f00e8702a19c","name":"PutSQL","comments":"","instanceIdentifier":"a464534d-0194-1000-6f90-5b7d042984d4"},"destination":{"id":"fe7842cf-ad81-3a7e-9bdb-7b5bba878e98","type":"PROCESSOR","groupId":"fdd06687-b481-36d1-adab-f00e8702a19c","name":"Notify","comments":"","instanceIdentifier":"a4c6a51e-0194-1000-e1da-3ee6b7d8ecd9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fdd06687-b481-36d1-adab-f00e8702a19c"},{"identifier":"eb21c43c-de97-3881-8fe3-ac3beb10f40a","instanceIdentifier":"a4d1f33e-0194-1000-043a-0e43d37349ff","name":"","source":{"id":"4c7977ff-65e0-32a3-a9a2-ddd9384bb859","type":"PROCESSOR","groupId":"fdd06687-b481-36d1-adab-f00e8702a19c","name":"Wait","comments":"","instanceIdentifier":"a4d1c569-0194-1000-b6ba-ae3b60c66de7"},"destination":{"id":"984f7e97-1958-31a2-b1fa-e4f6de81bb13","type":"PROCESSOR","groupId":"fdd06687-b481-36d1-adab-f00e8702a19c","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"a458f603-0194-1000-09a8-f4109d3dbcb2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fdd06687-b481-36d1-adab-f00e8702a19c"},{"identifier":"826df98b-1ab2-3607-8b97-85e46c26ff6d","instanceIdentifier":"a45915f6-0194-1000-f35f-a76d6f5cb909","name":"","source":{"id":"1e07e9ff-32d8-3229-8f30-5467033fb8fd","type":"INPUT_PORT","groupId":"fdd06687-b481-36d1-adab-f00e8702a19c","name":"CountryInput","instanceIdentifier":"a4510d65-0194-1000-a598-8baf14d47470"},"destination":{"id":"c2e6b279-2407-3eeb-bd0d-da6ec4655dab","type":"PROCESSOR","groupId":"fdd06687-b481-36d1-adab-f00e8702a19c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"a47646e4-0194-1000-0d40-b7e3ffebc82d"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fdd06687-b481-36d1-adab-f00e8702a19c"},{"identifier":"73beb6c8-e9b8-366b-b888-8f446c9e7fbf","instanceIdentifier":"a4702af7-0194-1000-9091-6af89c2287f1","name":"","source":{"id":"1a0cfa33-7750-33cf-9d63-60725595c6d2","type":"PROCESSOR","groupId":"fdd06687-b481-36d1-adab-f00e8702a19c","name":"GenerateFlowFile","comments":"","instanceIdentifier":"a466e5f3-0194-1000-63be-64a552ae0541"},"destination":{"id":"3a3b8b54-8748-3304-ac96-148994427eb7","type":"PROCESSOR","groupId":"fdd06687-b481-36d1-adab-f00e8702a19c","name":"PutSQL","comments":"","instanceIdentifier":"a464534d-0194-1000-6f90-5b7d042984d4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fdd06687-b481-36d1-adab-f00e8702a19c"},{"identifier":"9971b0ee-5c6d-345a-ba5e-b2c5a25db53d","instanceIdentifier":"a47ff3d1-0194-1000-6e35-343f5ac53d51","name":"","source":{"id":"984f7e97-1958-31a2-b1fa-e4f6de81bb13","type":"PROCESSOR","groupId":"fdd06687-b481-36d1-adab-f00e8702a19c","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"a458f603-0194-1000-09a8-f4109d3dbcb2"},"destination":{"id":"1cda7ec7-2f17-3ec5-ac53-ec4bfe6d2693","type":"OUTPUT_PORT","groupId":"fdd06687-b481-36d1-adab-f00e8702a19c","name":"Failed","instanceIdentifier":"a47fda67-0194-1000-24a1-16544da2145d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fdd06687-b481-36d1-adab-f00e8702a19c"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"6490d45a-0851-3f1c-b277-7b2be1123d6e","instanceIdentifier":"a459f64f-0194-1000-0644-a80571306406","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fdd06687-b481-36d1-adab-f00e8702a19c"},{"identifier":"22db9c26-7637-3cea-b861-c9a83904a6b5","instanceIdentifier":"a4cabca4-0194-1000-4eb3-3ad87d9515f5","name":"RedisDistributedMapCacheClientService","comments":"","type":"org.apache.nifi.redis.service.RedisDistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"2.1.0"},"properties":{"redis-connection-pool":"da8bf3ce-685f-37b6-bb0e-f726f772afd6","redis-cache-ttl":"30 secs"},"propertyDescriptors":{"redis-connection-pool":{"name":"redis-connection-pool","displayName":"Redis Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"redis-cache-ttl":{"name":"redis-cache-ttl","displayName":"TTL","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}},{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fdd06687-b481-36d1-adab-f00e8702a19c"},{"identifier":"da8bf3ce-685f-37b6-bb0e-f726f772afd6","instanceIdentifier":"a4cb1c53-0194-1000-30b3-fa208dc8d6c7","name":"RedisConnectionPoolService","comments":"","type":"org.apache.nifi.redis.service.RedisConnectionPoolService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"2.1.0"},"properties":{"Pool - Min Evictable Idle Time":"60 seconds","Pool - Test On Borrow":"false","Pool - Test On Return":"false","Redis Mode":"Standalone","Pool - Max Idle":"8","Pool - Block When Exhausted":"true","Cluster Max Redirects":"5","Pool - Num Tests Per Eviction Run":"-1","Connection String":"redis:6379","Pool - Max Total":"8","Pool - Test On Create":"false","SSL Context Service":null,"Sentinel Username":null,"Pool - Min Idle":"0","Username":null,"Pool - Test While Idle":"true","Pool - Time Between Eviction Runs":"30 seconds","Communication Timeout":"10 seconds","Pool - Max Wait Time":"10 seconds","Database Index":"0","Sentinel Master":null},"propertyDescriptors":{"Pool - Min Evictable Idle Time":{"name":"Pool - Min Evictable Idle Time","displayName":"Pool - Min Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Borrow":{"name":"Pool - Test On Borrow","displayName":"Pool - Test On Borrow","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Return":{"name":"Pool - Test On Return","displayName":"Pool - Test On Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Redis Mode":{"name":"Redis Mode","displayName":"Redis Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Idle":{"name":"Pool - Max Idle","displayName":"Pool - Max Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Block When Exhausted":{"name":"Pool - Block When Exhausted","displayName":"Pool - Block When Exhausted","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cluster Max Redirects":{"name":"Cluster Max Redirects","displayName":"Cluster Max Redirects","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Num Tests Per Eviction Run":{"name":"Pool - Num Tests Per Eviction Run","displayName":"Pool - Num Tests Per Eviction Run","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection String":{"name":"Connection String","displayName":"Connection String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Total":{"name":"Pool - Max Total","displayName":"Pool - Max Total","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Test On Create":{"name":"Pool - Test On Create","displayName":"Pool - Test On Create","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Sentinel Username":{"name":"Sentinel Username","displayName":"Sentinel Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Min Idle":{"name":"Pool - Min Idle","displayName":"Pool - Min Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentinel Password":{"name":"Sentinel Password","displayName":"Sentinel Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Pool - Test While Idle":{"name":"Pool - Test While Idle","displayName":"Pool - Test While Idle","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Time Between Eviction Runs":{"name":"Pool - Time Between Eviction Runs","displayName":"Pool - Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communication Timeout":{"name":"Communication Timeout","displayName":"Communication Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pool - Max Wait Time":{"name":"Pool - Max Wait Time","displayName":"Pool - Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Index":{"name":"Database Index","displayName":"Database Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentinel Master":{"name":"Sentinel Master","displayName":"Sentinel Master","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.redis.RedisConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-service-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fdd06687-b481-36d1-adab-f00e8702a19c"},{"identifier":"615d6c74-f26e-3436-8836-e401526642bd","instanceIdentifier":"a45af09f-0194-1000-5d7f-5d0f64066cc4","name":"PosgreSQLConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.1.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://db:5432/dawa","dbcp-time-between-eviction-runs":"-1","Database User":"dawauser","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib/postgresql-42.2.8.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fdd06687-b481-36d1-adab-f00e8702a19c"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"83d24c63-3238-3813-8fa5-e2824e9d00b5"},{"identifier":"4f5abb70-e9fe-3a51-a84e-b846f7cc3b1b","instanceIdentifier":"a4349366-0194-1000-b0b5-a100c5ccf8ea","name":"CSV Import","comments":"","position":{"x":-88.0,"y":-288.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2cb5e85b-db80-30e6-aee4-c32015bbddb5","instanceIdentifier":"a43d6bca-0194-1000-e89e-e2186f12c02f","name":"ConvertRecord","comments":"","position":{"x":280.0,"y":16.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"31b2594a-afa6-3c3d-81c1-30660c27b802","Record Reader":"d50f8ba8-76fd-3e0f-8cc7-67bf604766fa"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f5abb70-e9fe-3a51-a84e-b846f7cc3b1b"},{"identifier":"4ab4c198-3108-3a63-8e04-f79b0e9f4137","instanceIdentifier":"a434e19d-0194-1000-c8b1-b7cbac00d641","name":"GetFile","comments":"","position":{"x":-384.0,"y":0.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.1.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/opt/nifi/nifi-current/data","Maximum File Age":null,"Batch Size":"300","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":"countries-regions.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4f5abb70-e9fe-3a51-a84e-b846f7cc3b1b"}],"inputPorts":[],"outputPorts":[{"identifier":"5dcc77ba-d564-38b8-b6fb-82e49fe3b33f","instanceIdentifier":"a436930e-0194-1000-a31a-90d42a558a91","name":"Countries Port","position":{"x":928.0,"y":224.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"4f5abb70-e9fe-3a51-a84e-b846f7cc3b1b"},{"identifier":"3055537d-b1a7-3e17-81f4-81808c928f7e","instanceIdentifier":"a43de954-0194-1000-9710-df908bf7aed4","name":"Failed","position":{"x":928.0,"y":-32.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"FAILURE","componentType":"OUTPUT_PORT","groupIdentifier":"4f5abb70-e9fe-3a51-a84e-b846f7cc3b1b"}],"connections":[{"identifier":"5a0be6ad-29e9-3d48-a96f-3fc0a1352417","instanceIdentifier":"a43e07c4-0194-1000-3435-4d06abb1579a","name":"","source":{"id":"2cb5e85b-db80-30e6-aee4-c32015bbddb5","type":"PROCESSOR","groupId":"4f5abb70-e9fe-3a51-a84e-b846f7cc3b1b","name":"ConvertRecord","comments":"","instanceIdentifier":"a43d6bca-0194-1000-e89e-e2186f12c02f"},"destination":{"id":"3055537d-b1a7-3e17-81f4-81808c928f7e","type":"OUTPUT_PORT","groupId":"4f5abb70-e9fe-3a51-a84e-b846f7cc3b1b","name":"Failed","instanceIdentifier":"a43de954-0194-1000-9710-df908bf7aed4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f5abb70-e9fe-3a51-a84e-b846f7cc3b1b"},{"identifier":"2080c185-9a24-355f-a24c-cce408537fd8","instanceIdentifier":"a436aa16-0194-1000-0ad8-53377dc6f5eb","name":"","source":{"id":"4ab4c198-3108-3a63-8e04-f79b0e9f4137","type":"PROCESSOR","groupId":"4f5abb70-e9fe-3a51-a84e-b846f7cc3b1b","name":"GetFile","comments":"","instanceIdentifier":"a434e19d-0194-1000-c8b1-b7cbac00d641"},"destination":{"id":"2cb5e85b-db80-30e6-aee4-c32015bbddb5","type":"PROCESSOR","groupId":"4f5abb70-e9fe-3a51-a84e-b846f7cc3b1b","name":"ConvertRecord","comments":"","instanceIdentifier":"a43d6bca-0194-1000-e89e-e2186f12c02f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f5abb70-e9fe-3a51-a84e-b846f7cc3b1b"},{"identifier":"2b6512ff-2eb2-3dc3-9560-b345d28a2e29","instanceIdentifier":"a43da1c2-0194-1000-4f57-a601fcda36f5","name":"","source":{"id":"2cb5e85b-db80-30e6-aee4-c32015bbddb5","type":"PROCESSOR","groupId":"4f5abb70-e9fe-3a51-a84e-b846f7cc3b1b","name":"ConvertRecord","comments":"","instanceIdentifier":"a43d6bca-0194-1000-e89e-e2186f12c02f"},"destination":{"id":"5dcc77ba-d564-38b8-b6fb-82e49fe3b33f","type":"OUTPUT_PORT","groupId":"4f5abb70-e9fe-3a51-a84e-b846f7cc3b1b","name":"Countries Port","instanceIdentifier":"a436930e-0194-1000-a31a-90d42a558a91"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f5abb70-e9fe-3a51-a84e-b846f7cc3b1b"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"31b2594a-afa6-3c3d-81c1-30660c27b802","instanceIdentifier":"a43ed7de-0194-1000-e164-6b11aed1cfbe","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4f5abb70-e9fe-3a51-a84e-b846f7cc3b1b"},{"identifier":"d50f8ba8-76fd-3e0f-8cc7-67bf604766fa","instanceIdentifier":"a43eac0d-0194-1000-5cfc-3d9f3655be19","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.1.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":"\"\"","Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"csv-header-derived","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.1.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4f5abb70-e9fe-3a51-a84e-b846f7cc3b1b"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"83d24c63-3238-3813-8fa5-e2824e9d00b5"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"db356f0f-7769-33ce-9f52-b69f5f93eee2","instanceIdentifier":"a461605c-0194-1000-58c7-a13dfae9ace4","name":"","source":{"id":"690ebac4-b38b-3cc2-b4ad-4efae57babf6","type":"FUNNEL","groupId":"83d24c63-3238-3813-8fa5-e2824e9d00b5","name":"Funnel","comments":"","instanceIdentifier":"a44ac829-0194-1000-c2ac-82150a6b0591"},"destination":{"id":"1e07e9ff-32d8-3229-8f30-5467033fb8fd","type":"INPUT_PORT","groupId":"fdd06687-b481-36d1-adab-f00e8702a19c","name":"CountryInput","instanceIdentifier":"a4510d65-0194-1000-a598-8baf14d47470"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83d24c63-3238-3813-8fa5-e2824e9d00b5"},{"identifier":"da46b63f-d838-35da-b8e7-414f97da6d1b","instanceIdentifier":"a44eeb85-0194-1000-3221-5954ac08c725","name":"","source":{"id":"3055537d-b1a7-3e17-81f4-81808c928f7e","type":"OUTPUT_PORT","groupId":"4f5abb70-e9fe-3a51-a84e-b846f7cc3b1b","name":"Failed","instanceIdentifier":"a43de954-0194-1000-9710-df908bf7aed4"},"destination":{"id":"bf04ba78-266b-3e1c-a836-f3b93cdfe43a","type":"FUNNEL","groupId":"83d24c63-3238-3813-8fa5-e2824e9d00b5","name":"Funnel","comments":"","instanceIdentifier":"a44ebfd4-0194-1000-ddae-c3609333e54d"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83d24c63-3238-3813-8fa5-e2824e9d00b5"},{"identifier":"dce74e38-eaf4-3ae0-9a20-769e366faea3","instanceIdentifier":"a44b0218-0194-1000-de2b-c92f8ac7e0ae","name":"","source":{"id":"5dcc77ba-d564-38b8-b6fb-82e49fe3b33f","type":"OUTPUT_PORT","groupId":"4f5abb70-e9fe-3a51-a84e-b846f7cc3b1b","name":"Countries Port","instanceIdentifier":"a436930e-0194-1000-a31a-90d42a558a91"},"destination":{"id":"690ebac4-b38b-3cc2-b4ad-4efae57babf6","type":"FUNNEL","groupId":"83d24c63-3238-3813-8fa5-e2824e9d00b5","name":"Funnel","comments":"","instanceIdentifier":"a44ac829-0194-1000-c2ac-82150a6b0591"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"83d24c63-3238-3813-8fa5-e2824e9d00b5"}],"labels":[],"funnels":[{"identifier":"bf04ba78-266b-3e1c-a836-f3b93cdfe43a","instanceIdentifier":"a44ebfd4-0194-1000-ddae-c3609333e54d","position":{"x":672.0,"y":-488.0},"componentType":"FUNNEL","groupIdentifier":"83d24c63-3238-3813-8fa5-e2824e9d00b5"},{"identifier":"690ebac4-b38b-3cc2-b4ad-4efae57babf6","instanceIdentifier":"a44ac829-0194-1000-c2ac-82150a6b0591","position":{"x":664.0,"y":-288.0},"componentType":"FUNNEL","groupIdentifier":"83d24c63-3238-3813-8fa5-e2824e9d00b5"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}